<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
        <add key="PYTHONPATH" value="e:\GTalk" />
        <add key="WSGI_HANDLER" value="GTalk.app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="GTalk" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
         <!-- <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent> -->
         <fastCgi>
              <application fullPath="C:\Python311\python.exe"
                    arguments="|e:\GTalk\gtalk.py.py"
                    monitorChangesTo="e:\GTalk\gtalk.py"/>
        </fastCgi>
    </system.webServer>
  
</configuration>